body {
    background: gray;
    background-size: 1000% 1000%;
}
.sidebar {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.nav-item:hover{
    background: #5e5e5e;
}
.algorithm-information{
    background: #cebfbf;
    height: 100%;
}
.row{
    height: 100%;
    width: 100%;
}
.upper-block{
    height: 30%;
}
.lower-block{
    height: 60%;
    padding: auto;
    margin-left: -15px;
}
input[type=number]{
    width: 35%;
} 
input[type=range]{
    width: 80%;
}
.submit{
    margin-top: 5%;
    height: 90%;
    width: 80%;
}
.elemsForSort{
    width: 33%;
    text-align: center;
}